body {
  box-sizing: border-box;
  background-color: #010101;
  color: #fefefe;
}

section {
  overflow: hidden;
}

header {
  min-height: 60vh;
  #underlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: url('../img/header-bg.jpeg');
    opacity: 0.1;
    z-index: -1;
    width: 100%;
  }
  .navbar {
    border-bottom: #fbff05 1px solid;
    background-color: #010101;
    .navbar-toggler {
      background-color: #fbff05;
    }
    #navbarNav {
      ul li a {
        color: #fefefe;
      }
      #support-us {
        color: #0b5b1c;
      }
    }
  }
  .container-fluid {
    .row {
      display: flex;
      align-items: center;
    }
  }
}

.active {
  border: #fbff05 1px solid;
}

a:hover {
  background-color: #fbff05;
  padding: 1rem;
  color: #0b5b1c;
  transition: 1s;
}

.goals {
  display: flex;
  padding: 1rem;
  .goal {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
    background-color: #010101;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #fbff05;
    margin: 0.5rem auto;
  }
}

.about-us {
  .row {
    margin-top: 75px;
    img {
      margin: 1rem auto;
    }
    .vision-text {
      text-align: left;
      h2 {
        display: flex;
        color: #fbff05;
        max-width: 25%;
        i {
          margin-right: 1rem;
        }
      }
    }
    .mission-text {
      text-align: right;
      h2 {
        display: flex;
        color: #fbff05;
        justify-content: end;
        max-width: 100%;
        i {
          margin-left: 1rem;
        }
      }
    }
  }
}

.events {
  background: url('../img/header-bg3.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  z-index: -1;
  margin-top: 75px;
  padding: 3.5rem;
  .event {
    max-width: 500px;
    margin: 0.5rem 0.5rem;
    .event-img {
      z-index: -1;
    }
    .event-infos {
      z-index: 0;
      display: flex;
      justify-content: space-between;
      background-color: #010101;
      padding: 0.5rem;
      border: 1px solid #fbff05;
    }
  }
}

.title {
  text-align: center;
  font-size: 3rem;
  background-color: #010101;
  color: #fefefe;
  padding: 0.5rem;
  border-bottom: 3px solid #fbff05;
}

.contact-us {
  margin-top: 75px;
  .location {
    text-align: right;
    iframe {
      margin: 1rem auto;
      padding: 1rem;
    }
  }
  form {
    margin: 1rem auto;
    .form-text {
      color: #fbff05;
    }
    input,
    textarea {
      background: #010101;
      color: #fefefe;
    }
    input:focus,
    textarea:focus {
      background: #010101;
      color: #fefefe;
    }
  }
}

.team {
  padding: 3.5rem;
  position: relative;
  #teamUnderlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/header-bg6.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.2;
  }
  margin-top: 75px;
  .members {
    display: flex;
    flex-wrap: wrap;
    .member {
      margin: 1rem auto;
      .member-infos {
        background-color: #010101;
        border: #fbff05 1px solid;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 1rem;
      }
    }
  }
}

footer {
  border-top: #fbff05 1px solid;
  margin-top: 75px;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
